.nav a {
    display: inline-block; /* 인라인 블록 요소로 설정 */
    margin: 20px; /* 마진 설정 */
    padding: 10px; /* 패딩 설정 */
    text-decoration: none; /* 밑줄 제거 */
    background-color: #022952; /* 배경색 설정 */
    color: rgb(255, 255, 255); /* 글자색을 흰색으로 설정 */
    width: 200px; 
    height: 50px;
    line-height :50px; 
    text-align:center;
}

.nav {
   position:absolute;
   top :200px;
   left :10px;
}