@charset "UTF-8";

	.main{ /*가장 바깥 둘러싸는 큰 div*/
	 width:900px;
	    height:700px;
		background-color: white;
		border:1px solid #000;
		
		position: absolute;
		
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);/*왼쪽,위쪽*/
		}
		.top{ /*서울시 야구단 용병모집 input태그*/
			width:897px;
			height:32px;
			position: absolute;		
			left: 50%;
			top: 10%;
			transform: translate(-50%, -50%);
			border: 1px solid #000;
			/*display:inline /*블록처럼한줄을100%차지하게하고싶은데  width를조절하고싶을때*/
		}
		.invisible{ /*지역부터 참가신청 단추를 감싸는 보이지 않는 div*/
			margin-bottom:10px;
			margin-top:0px;
			margin-left:10px;
			height:170px;
		}
		.indiv{ /*지역,서울 / 종목,야구 등 p태그 두개씩 감싸고 있는 보이지 않는 div*/
			width:50%;
			float:left;
			text-align:left;
			
			display:inline;
		}
		.indiv>p{ /*지역,종목 등 글자 p태그*/
			width:150px;
			height:10px;
			margin-left:30px;	
			display:inline-block;/*inline속성이어서한줄에여러개들어가지만모양은박스(div)형태를가지고있음*/									
		}
		
	
		.button1{/*보관하기 버튼*/
			position:absolute;
			right:350px;
			top:140px;
			background-color: #162856;
			color: white;
			
		}
		.button2{/*참가신청 버튼*/
			position:absolute;
			right:134px;
			top:140px;
			background-color: #162856;
			color: white;
		}
		.input1{/*팀 소개글 input박스*/
			height:210px;
			width:830px;
			margin-left:30px;
			margin-right:30px;
		}
		.input2{/*댓글 input박스*/
			height:210px;
			width:830px;
			margin-left:30px;
			margin-right:30px;
		}
		.input3{/*댓글을 작성해 보세요. input 박스*/
			height:40px;
			width:830px;
			margin-top:7px;
			margin-left:30px;
			margin-right:30px;
		}
		.lastbutton{/*맨 마지막 등록 버튼*/
			 position:absolute; right:50px; bottom:17px;
			 background-color: #162856;
		     color: white;
		}