@charset "UTF-8";

.a1 {
	width: 900px;
	height: 874px;
	background-color: white;
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*왼쪽,위쪽*/
	padding: 10px;
}

.a3 {
	width: 870px;
	height: 400px;
	background-color: white;
	margin: 10px 0px;
}

button {
	width: 70px;
	height: 30px;
	float: right;
	margin-right: 30px;
	background-color: #162856;
	color: white;
}

select {
	width: 185px;
	height: 30px;
	margin: 30px 20px 20px 0px;
	font-size: 15px;;
}

#a {
	width: 95%;
	height: 15px;
	background-color: beige;
	padding: 10px;
	margin: 10px 0px;
}

#a2 {
	width: 97%;
	height: 320px;
	background-color: white;
	border: 1px solid #000;
}

#addr {
	width: 94%;
	height: 35px;
	margin-top: 5px;
}

#intro {
	margin: 20px 0px 15px 0px;
}

#intro2 {
	margin-bottom: 0px;
}

.select-area {
	float: left;
	text-align: left;
	width: 50%;
}

.select-area label {
	width: 20%;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#date {
	margin-top: 10px;
}

#sns {
	text-align: left;
	width: 100%;
}

#btndiv {
	height: 50px;
	position: absolute;
	left: 75%;
}
.select-area label{
	font-size: 20px;
}
