/* 바디 중앙정렬, 폰트 설정 */
body {
    display: flex;
    justify-content: center;
    margin: 200px;
}

/* 전체 컨테이너 */
.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* 왼쪽 네비게이션 */
.navigation {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}
  
/* 네비게이션 버튼 스타일 */
.nav-button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #162856;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1em;
}

.nav-button a {
    color: white;
    text-decoration: none; /* 링크 밑줄 제거 */
}

/* 나의 정보 이미지 스타일 */
.my-info-image {
    width: 150px;
    height: 150px;
    background-image: url(kilee.jfif);
    background-size: cover;
    background-position: center;
    margin-left: 40px;
}